.app__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
  overflow: hidden;
  width: 70%;
  background: transparent;

  /* ::backdrop {
    backdrop-filter: blur(2px);
  } */
}

.app__modal::backdrop {
  /* backdrop-filter: blur(0.5px); */
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 550px) {
  .app__modal {
    width: 90%;
  }
}