.app__adminSong {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  padding: 1rem;
  border: 1px solid black;
  background: rgb(173, 173, 173);
  border-radius: 14px;
  width: 100%;
  max-width: 700px;
}

.app__adminSong-informations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.app__adminSong-informations p {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 17px;

  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

.app__adminSong-informations span {
  font-size: 19px !important;
  font-weight: bold;
}

.app__adminSong-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.app__adminSong-buttons button {
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
  padding: 7px 12px;
  cursor: pointer;
  text-transform: uppercase;
  color: antiquewhite;
}
.app__adminSong-buttons button:hover {
  opacity: 0.75;
}

.app__adminSong-buttons button:first-child {
  background: green;
}
.app__adminSong-buttons button:last-child {
  background: rgb(209, 1, 1);
}

